h1 {
    color: rgb(98, 207, 180);
    font-style: italic;
    font-size: 35px;
    text-align:justify;
    border-width: 30px;
    border-top:black ;
    border-radius: 20px 40px;
    padding: 10px;
}

body {
    background-color: antiquewhite;
    margin: 20px;
}

p {
    font-size: 18px;
    text-align: justify;
    color: darkcyan;
    margin: 30pX;
}

li {
    font-size: 18px;
    text-align: justify;
    color: darkcyan;
}

img {
    width: 250px;
    height: 250px;
}

a{
    text-decoration: none;
}

div{
    border:2px solid;
    border-color: rgb(80, 168, 139);
    margin-bottom: 20px;
}

#imagem-1{
    width: 300px;
    height: 400px;
    display: block;
    margin: auto;
}


