
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #cfc89f;
    /*padding: 10px;*/
}

h1{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

p{
    font-size: 20px;
    font-family: serif;
    text-align: center;
    border-radius: 25px;
    padding: 3px 40px;
}

header {
    background: #a18435;
    color:#cfc89f;
    padding: 10px 0;
}

img{
    width: 400px;
    display: block;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#violao{
        width: 500px;
}

a:hover {
    color:#cfc89f ;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap; /* Adiciona quebra de linha para itens */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #a18435;
    color: #cfc89f;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px auto;
}

.project-card img {
    width: 100%;
    height: auto;
}


.project-card {
    border: 1px solid #ebf5b3;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #a18435(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px); /* Ajusta a largura dos cartões */
    max-width: calc(50% - 20px); /* Evita que os cartões fiquem maiores que 50% da largura do contêiner */
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background:#a18435;
    color: #cfc89f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #a1a171;
}


/* Estilos para a Tabela */
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

thead {
    background: #a18435;
    color: #fff;
}

/* Formulário de Contato */
form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #a18435;
    color: #cfc89f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #a1a171;
}

/* Ajustes para responsividade do nav */
@media (max-width: 600px) {
    nav ul {
        flex-direction: row;
        align-items: center;
        font-size: 15px;
    }
    footer {
        height: 44px;
    }
    main {
        min-height: calc(100vh - 88px);
    }
}


/*para tabelas menores */
@media (min-width: 601px) {
    header {
        height: 46px;
    }
    footer {
        height: 46px;
    }
    main {
        min-height: calc(100vh - 88px);
    }

}

@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
    }

    .project-card {
        flex-basis: 100%;
        max-width: 100%;
    }

}

@media (max-width: 300px) {
    h1 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        flex-basis: 100%;
        max-width: 100%;
    }
}