/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #cfc89f;
}

h1{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

p{font-size: 20px;
    font-family: serif;
    text-align: center;
    border-radius: 25px;
    padding: 3px 40px;
}

header {
    background: #a18435;
    color:#cfc89f;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

section img {
    max-width: 100%;
    height: auto;
}

footer {
    background: #a18435;
    color: #cfc89f;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

/* Página de Projetos */
.project-card {
    border: 1px solid #ebf5b3;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #a18435(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    height: auto;
}

/* Formulário de Contato */
form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background:#a18435;
    color: #cfc89f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #a1a171;
}