h1 {
    color: rgb(98, 207, 180);
    font-size: 60px;
    font-style: "poppins";
    text-align: center;
    border-radius: 25px;
    padding: 1px;
    border-color: black;
}

p{
    font-size: 25px;
    font-family: serif;
    text-align: center;
    border-radius: 25px;
    padding: 3px 40px;
    margin: 1%;
}

li{
    font-size: 30px;
    padding: 1%;
}

body {
    background-color: rgb(163, 228, 192);
}

div {
    background-image: url('../img/textura-de-parede-de-concreto_375133-669.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: 2px solid;
    border-color: rgb(80, 168, 139);
    margin-bottom: 20px;
    border: double darkcyan;
}

img {
   width: 800px;
   display: block;
   margin: auto;
}