* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(163, 228, 192);
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/*body {
    background-color: rgb(163, 228, 192);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}*/

h1 {
    color: rgb(217, 224, 223);
    font-size: 20px;
    font-style: "poppins";
    text-align: center;
    border-radius: 25px;
    padding: 1px;
    border-color: rgb(28, 90, 92);
}

p {
    font-size: 20px;
    font-family: serif;
    text-align: center;
    border-radius: 25px;
    padding: 3px 40px;
}

li {
    font-size: 30px;
    padding: 1%;
}

div {
    border: 2px solid;
    border-color: rgb(80, 168, 139);
    margin-bottom: 20px;
    /* border: double darkcyan; */
    max-width: 100%;
    min-width: none;
    max-height: 100%;
    min-height: 100%;

}

img {
    /*width: 500px;*/
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}*/

#title {
    text-align: center;
    color: rgb(112, 185, 161);
}

#paragrafo {
    text-align: center;
}

/*#imagem- {
    max-width: 500px;
    width: 80vw;
    max-height: 400px;
    height: 100vw;
    display: block;
    margin: auto;
    margin-top: 5%;
}*/

small {
    color: rgb(115, 161, 125);
    /* position: absolute; */
}

.j {
    border: none;
    background: none;
}

.j:hover {
    background: none;
}

.item-menu {
    list-style-type: none;
    width: max-content;
}

a {
    text-decoration: none;
    display: block;
    border: solid;
    width: max-content;
    padding: 2px;
    color: rgb(52, 161, 134);
    border-radius: 25px;
    border-radius: 20%;
    background-color: rgb(94, 141, 150);
    margin: 10px auto;
    border-color: #9eb9b8;
}

main {
    /*padding: 20px;*/
    padding: 120px 20px 20px;
    min-height: calc(100vh - 78px);
}


section {
    margin-bottom: 40px;
}

a:hover {
    background-color: #9eb9b8;
}

img:first-child {
    border: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.item {
    flex: 1 1 300px;
    background-color: white;
    border: 2px solid rgb(80, 168, 139);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    max-width: 350px;
}

.item h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(52, 161, 134);
}

.item p {
    font-size: 18px;
    color: rgb(115, 161, 125);
}

#sobre, #curiosidades {
    margin-bottom: 60px;
}

#sobre h2, #curiosidades h2 {
    text-align: center;
    color: #ffcc33;
    font-size: 28px;
    margin-bottom: 20px;
}

#sobre p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

#sobre img {
   /* max-width: 400px;
    width: 80vw;
    max-height: 500px;
    height: 100vw;
    display: block;
    margin: auto;
    margin-top: 5%;*/
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(95, 112, 33, 0.2);
}

#curiosidades ul {
    list-style-type: square;
    margin: 0 auto;
    padding: 0;
    max-width: 600px;
    font-size: 18px;
}

#curiosidades ul li {
    margin-bottom: 10px;
    font-size: 18px;
}

.container-gerberas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#sobre #cor{
    color: rgb(145, 14, 14);
}

